@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    pading: 0;
    font-family: "Poppin", sans-serif;
    font-style: normal;
    background: #f5f5f5;
}

ul {
    margin: 0;
    pading: 0;
}

a{
    cursor: pointer;
    text-decoration: none;
    font-family: sans-serif;
    border-radius: 5px;
    color: black;
}

a:hover{
    background: #1a374d;
    color: lightgoldenrodyellow;
    color: lightcyan;
}

#logo{
    font-size: 1.5rem;
    font-weight: bold;
}

#logo img{
    width: 120px;
}

#header {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    border-bottom: 1px solid black;
}

#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
}

    #menu a {
        display: block;
        padding: .5rem;
    }

#btn-mobile {
    display: none;
}

.perfil{
    margin-top: 15px;
    border-radius: 15px;
    text-align: center;
    background:#ffffff;
    padding: 10px;
}

.perfil img {
    width: 250px;
}

.abtn {
    display:flex;
    justify-content: space-around;
}

/*Outro card*/

.eConta {
    margin-top: 15px;
    border-radius: 15px;
    background: #ffffff;
    padding: 10px;
}

.mTitulo{
    text-align: center;
}

.lConta{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

.lConta > div {
    max-width: 100%;
}

    .lConta input {
        border: 2px solid black;
        background: #D9D9D9;
        border-radius: 10px;
        font-size: 15pt;
    }

#btnMais {
    width: 100%;
    background: #000000;
    color: #ffffff;
    border-radius: 10px;
    font-size: 15pt;
    font-weight: bold;
}

.aLink{
    text-align: center;
}

/*Cards*/

.aReaConta {
    margin-top: 15px;
    border-radius: 15px;
    background: #ffffff;
    padding: 10px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    border: 1px solid #ccc;
    border-radius: 15px;
    background: #000000;
    color: #ffffff;
    width: 300px;
    margin: 20px;
    text-align: center;
}

    .card img {
        max-width: 100%;
    }

    .card button {
        border-radius: 10px;
        padding: 5px;
        margin: 10px;
        font-weight: bold;
        color: black;
    }


.aFor{
    background: #ffffff;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10%;
}

.aFor button{
    width: 100%
}

/* Cards */

.container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 100%;
    max-width: 1500px;
    margin: 20px auto;
}

.card {
    background: linear-gradient(135deg, #F93239, #DD2476);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.2s;
    padding: 10px;
}

.card h4{
    color: #ffffff;
}

.card p{
    background: #ffffff;
    padding: 2px;
    margin: 5px;
    color: black;
}

.card img {
    margin: auto;
    width: 50px;
}

    .card:hover {
        transform: translateY(-10px);
    }

.card-icon {
    font-size: 3rem;
    color: #007bff;
    margin: 20px 0;
}

.card-title {
    font-size: 1.5rem;
    margin: 0;
    padding: 0 20px;
    color: #333;
}

.card-link {
    display: block;
    padding: 10px 0;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    border-top: 1px solid #f0f0f0;
}

    .card-link:hover {
        text-decoration: underline;
    }

/*Este é para o outro layout*/

.nCapa {
    background: #3C93CD;
    color: #ffffff;
    padding: 14px;
    border-radius: 15px;
    margin-top: 1%;
}

.gCapaSobre{
    background: #ffffff;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10%;
}

.gCapaSobreDois{
    display: flex;
}

.gCapaSobreDois img {
    width: 100%;
}

.gAreaImagem{
    margin: auto;
    max-width: 400px;
}

.areaTexto{
    text-align: center;
    align-items: center;
}

.areaTexto p{
    margin-top: 5%;
    font-weight: bold;
}

.dCont{
    text-align: center;
}

.tContatos {
    
}

.tContatos a:hover{
    color: black;
}

.aContatos {
    border: 1px solid black;
    text-align: center;
    margin: 10px;
    background: #D9D9D9;
    border-radius: 15px;
    padding: 10px;
}

.aContatos:hover{
    background: #A1A2A6;
}

@media(max-width: 600px) {
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #ffffff;
        height: 0px;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
       
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 5rem;
    }

    #hamburger {
        border-top: 2px solid;
        width: 20px;
        display: block;
        color: black;
    }

        #hamburger::after, #hamburger::before {
            content: '';
            display: block;
            width: 20px;
            height: 2px;
            background: currentColor;
            margin-top: 5px;
            transition: .3s;
            position: relative;
        }

    #nav.active #hamburger {
        border-top-color: transparent;
    }

        #nav.active #hamburger::before {
            transform: rotate(135deg);
        }

        #nav.active #hamburger::after {
            transform: rotate(-135deg);
            top: -7px;
        }

    .lConta {
        display: flex;
        justify-content: space-around
    }

        .gCapaSobreDois {
            display: block;
        }
}