@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #dff6ff 50%, #ffffff 100%);
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

nav {
    position: fixed;

    display: flex;
    height: 80px;
    width: 100%;
    background-color: #01282e;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}

    nav .logo {
        color: white;
        font-size: 35px;
        font-weight: 600;
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
    }

        nav ul li {
            margin: 0 5px;
        }

            nav ul li a {
                color: #f2f2f2;
                text-decoration: none;
                font-size: 18px;
                font-weight: 500;
                padding: 8px 15px;
                border-radius: 5px;
                letter-spacing: 1px;
                transition: all 0.3s ease;
            }

                nav ul li a.active,
                nav ul li a:hover {
                    background: #f88f06;
                }

    nav .menu-btn i {
        color: #fff;
        cursor: pointer;
        display: none;
    }

footer {
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 2px;
}

.aMenu{
    display: flex;
    justify-content: space-around;
    background: #ffffff;
    padding: 5px;
    border-radius: 15px;
}

.aMenu img{
    width: 35px;
}


#exampleModalCenter{
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.mPago {
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); /* Adicionando sombra */
}

.mPendente {
    background: #ffcccc; /* Fundo vermelho claro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); /* Adicionando sombra */
}

.mPagoVerde {
    background: #ccffcc; /* Fundo verde claro */
}

#mdes{
    text-decoration: none;
    color: black;
}

.verDetalhes{
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

.verDetalhes button{
    width: 100%;
    margin-top: 15px;
    text-align: center;
}

.aBtn {
    position: fixed;
    bottom: 80px;
    width: 100%;
    left: 0;
    padding: 10px;
    margin: 0 auto
}

.areaBoasVindas {
    display: flex;
    align-items: center;
}

.areaBoasVindas img{
    width: 30px;
}

.areaBoasVindas p{
    margin-bottom: -5px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    margin: 0 auto;
}

.flex > div{
    flex: 1 1 200px;
    margin: 10px;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); /* Adicionando sombra */
    border-radius: 15px;
    color: #ffffff;
    text-align: center;
    align-items: center;

}

.mNãoPaga {
     background: red;
}

.mNãoPaga img{
    width: 25px;
}

.mPagas img {
    width: 25px;
}

.aIcone{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
   
    max-width: 150px;
    margin: 0 auto;
}

.aIcone p{
    margin-top: 5%;
}

.mPagas {
    background: blue;
}

@media (max-width: 920px) {
    nav .menu-btn i {
        display: block;
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: #003840;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }

     nav ul.open {
         left: 0;
     }

     nav ul li {
          width: 100%;
          margin: 50px 0;
     }

     nav ul li a {
           font-size: 23px;
     }

     nav ul li a.active,
     nav ul li a:hover {
            background: none;
            color: #f88f06;
     }
}
