<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GustaffWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GustaffWeb.styles.css" asp-append-version="true" />
</head>
<body>

    <header id="header">
       
        <a id="logo" asp-action="index"> <img src="~/imagens/logoCapa.png" alt="logo" /> </a>

        <nav id="nav">

            <button id="btn-mobile">
                <span id="hamburger"></span>
            </button>

            <ul id="menu">
                <li><a asp-controller="Home" asp-action="Index">APPs</a></li>
                <li><a asp-controller="Home" asp-action="Index">Hadware</a></li>
                <li><a asp-controller="Home" asp-action="Index">Conta</a></li>
                <li><a asp-controller="Home" asp-action="Index">Sobre</a></li>
            </ul>

        </nav>

    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
