@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="nCapa">

    <h1 class="text-center">
        Bem-vindo ao site Gustaff, conheça nossas ferramentas de organização pessoal é produtividade.
    </h1>

</div>

<div class="gCapaSobre">
    <h3 class="text-center">
        Adquira um site responsivo é sob medida para o seu negocio
    </h3>

    <div class="gCapaSobreDois">

        <div class="gAreaImagem">
            <img src="~/imagens/g5.png" alt="site" />
        </div>

        <div class="areaTexto">
            <p>
                Seu negócio merece um site único. Com um site personalizado, você aumenta a credibilidade da sua empresa, atrai mais clientes e impulsiona suas vendas. Conte com a gente para criar o site ideal para o seu negócio.
            </p>

            <button class="btn btn-dark">Saiba mais</button>

        </div>

    </div>

</div>

<div class="gCapaSobre">
    <h3 class="text-center">
        Aplicações para Windows é Android
    </h3>

    <div class="gCapaSobreDois">

        <div class="areaTexto">
            <p>
                Simplifique suas tarefas com um app exclusivo. Cansado de processos manuais? Nossos apps automatizam suas operações e te ajudam a tomar decisões mais assertivas. Entre em contato e descubra como podemos te ajudar.
            </p> 

            <button class="btn btn-dark">Saiba mais</button>

        </div><br />

        <div class="gAreaImagem">
            <img src="~/imagens/g6.png" alt="site" />
        </div>

    </div>

</div>

<div class="gCapaSobre">
    <h3 class="text-center">
        Manutenção montagem é configuração
    </h3>

    <div class="gCapaSobreDois">

        <div class="gAreaImagem">
            <img src="~/imagens/g7.png" alt="site" />
        </div>

        <div class="areaTexto">
            <p>
                Manutenção de computadores e redes? Nós resolvemos! Especializados em montagem, configuração e reparo de PCs, servidores e redes corporativas. Deixamos seu equipamento funcionando perfeitamente.
            </p>

            <button class="btn btn-dark">Saiba mais</button>

        </div>

    </div>

</div>