<div class="dCont">
    <img src="~/imagens/logo.png" alt="Alternate Text" />
    <h1>Contatos</h1><br />
</div>

<div class="tContatos">

    <a href="#">
        <div class="aContatos">
            Canal do YouTube
        </div>
    </a>

    <a href="#">
        <div class="aContatos">
            WhatsApp
        </div>
    </a>

    <a href="#">
        <div class="aContatos">
            Instagram
        </div>
    </a>

</div>