@{
    ViewData["Title"] = "Pagina inicial";
}

<div class="capa">

</div>

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <p>Este sistema esta em construção.</p>
</div>

<p>
    lorem
    Este texto esta sendo usado
</p>