@{
    ViewData["Title"] = "Pagina inicial";
}

<div class="perfil">
    <img src="~/img/perfil.png" alt="Alternate Text" />
    <h1>Olá eu sou o Gustavo Ferreira</h1>
    <p>5 anos desenvolvendo soluções personalizadas. Conte comigo para o seu próximo projeto.</p>

    <div class="abtn">
        <div>
            <a asp-action="Privacy" class="btn btn-dark">Meus projetos</a>
        </div>
        <div>
            <a asp-action="Privacy" class="btn btn-dark">Fale comigo</a>
        </div>
    </di>
</div>