@{
    ViewData["Title"] = "Pagina inicial";
}

<div class="perfil">
    <img src="~/img/perfil.png" alt="Alternate Text" />
    <h1>Olá eu sou o Gustavo Ferreira</h1>
    <p>5 anos desenvolvendo soluções personalizadas. Conte comigo para o seu próximo projeto.</p>

    <div class="abtn">
        <div>
            <a asp-action="Privacy" class="btn btn-dark">Meus projetos</a>
        </div>
        <div>
            <a asp-action="Privacy" class="btn btn-dark">Fale comigo</a>
        </div>
    </div>
</div> <br />

<div class="eConta">

    <div class="mTitulo">
        <h2>Entre com uma conta</h2>
        <p>
            Com uma conta Gustaff você terá acesso aos nossos aplicativos online de produtividade é organização pessoal.
        </p>
    </div> <br />

    <div class="lConta">

        <div>
            <img src="~/imagens/c1.png" alt="Exibir" />
        </div>

        <div>
            <form>

                <div>
                    <label>Digite seu e-mail</label><br />
                    <input type="email" />
                </div> <br />

                <div>
                    <label>Senha</label><br />
                    <input type="password" />
                </div> <br />

                <input id="btnMais" type="submit" value="Entrar" />

            </form> <br />

            <div class="aLink">
                <a asp-controller="Home" asp-action="Privacy">Criar conta</a> <br />
                <a asp-controller="Home" asp-action="Privacy">Recuperar </a>
            </div>

        </div>

    </div>

</div> <br />

<div class="aReaConta">

    <div class="mTitulo">
        <h2>Preços</h2>
        <p>
            Este site mostra um pouco do meu trabalho é logo abaixo uma tabela de preços, caso você queira que eu trabalhe em seu projeto ou em parceria com você.
        </p>
    </div> <br />

    <div class="cards">

        <div class="card">
            <img src="~/imagens/c2.png" alt="Imagem do card 1"> <br />
            <h3>
                Design de interface <br /> Apartir R$ 500
            </h3> <br />
            <button>+ detalhes</button>
        </div>

        <div class="card">
            <img src="~/imagens/c2.png" alt="Imagem do card 2"> <br />
            <h3>
                App Android ou Windows <br /> Apartir R$ 1000
            </h3>
            <button>+ detalhes</button>
        </div>

        <div class="card">
            <img src="~/imagens/c2.png" alt="Imagem do card 3"> <br />
            <h3>
                Site <br />  Apartir R$ 800
            </h3> <br />
            <button>+ detalhes</button>
        </div>

    </div>

</div> <br/> <br /> <br />

            <h4 class="text-center">
    Explore meus trabalhos e descubra como posso transformar suas ideias em designs impactantes.
    Para solicitar um orçamento personalizado ou discutir uma parceria, consulte a tabela de preços, estou disponível para trabalhar em novos projetos é com equipe, trabalho com a linguagem de programação Csharp.
            </h4>

<br />
<br />
<br />