@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="aFor">
    <h1>Recuperar conta</h1>

    <p>
        Será enviado para o seu e-mail um link que vai te encaminhar para uma pagina aonde você poderá cadastrar uma nova senha é assim ter novamente o acesso a sua conta.
    </p>

    <div class="form-group">
        <form>
            <label>Digite seu e-mail</label>
            <input type="email" class="form-control" /> <br />

            <button type="submit" class="btn btn-secondary btn-lg">Enviar</button>
        </form>
    </div>

</div>