@{
    Layout = "_LayoutApp";
}

<h2>Gráfico de Despesas Mensais</h2>

<canvas id="grafico1"></canvas>

<script>
    const ctx = document.getElementById('grafico1');

    // Dados de despesas pagas e não pagas mensais enviados pela Controller
    const despesasPagas = @Html.Raw(Json.Serialize(ViewBag.DespesasPagasMensais));
    const despesasNaoPagas = @Html.Raw(Json.Serialize(ViewBag.DespesasNaoPagasMensais));
    const labels = @Html.Raw(Json.Serialize(ViewBag.Labels));

    // Verificação de dados no console
    console.log('Despesas Pagas:', despesasPagas);
    console.log('Despesas Não Pagas:', despesasNaoPagas);

    new Chart(ctx, {
        type: 'bar', // Muda o tipo de gráfico para barras
        data: {
            labels: labels,
            datasets: [
                {
                    label: 'Despesas Pagas Mensais',
                    data: despesasPagas,
                    borderWidth: 1,
                    backgroundColor: 'blue' // Cor para despesas pagas
                },
                {
                    label: 'Despesas Não Pagas Mensais',
                    data: despesasNaoPagas,
                    borderWidth: 1,
                    backgroundColor: 'red' // Cor para despesas não pagas
                }
            ]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>